In [ ]:
#In Google Sheets this can also be completed by clicking on Data then Data Cleanup then Remove Duplicates

import pandas as pd

titanic_df = pd.read_csv("C:\Users\Shmuel\Desktop\DI_Bootcamp\Week 8\Day M2\Exercises\Titanic_Dataset.csv");

duplicates = titanic_df.duplicated()
print(f'Number of duplicate rows: {duplicates.sum()}')

titanic_df_cleaned = titanic_df.drop_duplicates()

print(f'Number of rows before removing duplicates: {titanic_df.shape[0]}')
print(f'Number of rows after removing duplicates: {titanic_df_cleaned.shape[0]}')

if titanic_df.shape[0] > titanic_df_cleaned.shape[0]:
    print('Duplicates were removed successfully.')
else:
    print('No duplicates were found or removed.')

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer

titanic_df = pd.read_csv('C:/Users/Shmuel/Desktop/DI_Bootcamp/Week 8/Day M2/Exercises/Titanic_Dataset.csv')

missing_values = titanic_df.isnull().sum()
print("Columns with missing values:\n", missing_values[missing_values > 0])

titanic_dropped_rows = titanic_df.dropna()

titanic_dropped_columns = titanic_df.dropna(axis=1)

print(f'Original number of rows: {titanic_df.shape[0]}')
print(f'Number of rows after dropping rows with missing values: {titanic_dropped_rows.shape[0]}')
print(f'Number of columns after dropping columns with missing values: {titanic_dropped_columns.shape[1]}')

titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].median())

titanic_df['Embarked'] = titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

print("Missing values after fillna:\n", titanic_df.isnull().sum())

imputer = SimpleImputer(strategy='mean')
titanic_df['Age'] = imputer.fit_transform(titanic_df[['Age']])

imputer = SimpleImputer(strategy='most_frequent')
titanic_df['Embarked'] = imputer.fit_transform(titanic_df[['Embarked']])

print("Missing values after SimpleImputer:\n", titanic_df.isnull().sum())

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

titanic_df = pd.read_csv('C:/Users/Shmuel/Desktop/DI_Bootcamp/Week 8/Day M2/Exercises/Titanic_Dataset.csv')

missing_values = titanic_df.isnull().sum()
print("Columns with missing values:\n", missing_values[missing_values > 0])

titanic_df['Family Size'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1

print(titanic_df[['SibSp', 'Parch', 'Family Size']].head())

titanic_df['Title'] = titanic_df['Name'].str.extract('([A-Za-z]+)\.', expand=False)

print(titanic_df[['Name', 'Title']].head())

titanic_df = pd.get_dummies(titanic_df, columns=['Sex', 'Embarked', 'Title'], drop_first=True)

print(titanic_df.head())

scaler = StandardScaler()
titanic_df[['Age', 'Fare']] = scaler.fit_transform(titanic_df[['Age', 'Fare']])

print(titanic_df[['Age', 'Fare']].head())

print(titanic_df.head())

In [ ]:
import pandas as pd
from scipy import stats

titanic_df = pd.read_csv('C:/Users/Shmuel/Desktop/DI_Bootcamp/Week 8/Day M2/Exercises/Titanic_Dataset.csv')

missing_values = titanic_df.isnull().sum()
print("Columns with missing values:\n", missing_values[missing_values > 0])

# Step 1:
Q1_age = titanic_df['Age'].quantile(0.25)
Q3_age = titanic_df['Age'].quantile(0.75)
IQR_age = Q3_age - Q1_age
lower_bound_age = Q1_age - 1.5 * IQR_age
upper_bound_age = Q3_age + 1.5 * IQR_age
outliers_age = titanic_df[(titanic_df['Age'] < lower_bound_age) | (titanic_df['Age'] > upper_bound_age)]
print(f'Number of outliers in Age: {outliers_age.shape[0]}')

Q1_fare = titanic_df['Fare'].quantile(0.25)
Q3_fare = titanic_df['Fare'].quantile(0.75)
IQR_fare = Q3_fare - Q1_fare
lower_bound_fare = Q1_fare - 1.5 * IQR_fare
upper_bound_fare = Q3_fare + 1.5 * IQR_fare
outliers_fare = titanic_df[(titanic_df['Fare'] < lower_bound_fare) | (titanic_df['Fare'] > upper_bound_fare)]
print(f'Number of outliers in Fare: {outliers_fare.shape[0]}')

z_scores_age = stats.zscore(titanic_df['Age'])
outliers_age_z = titanic_df[(abs(z_scores_age) > 3)]
print(f'Number of outliers in Age using Z-score: {outliers_age_z.shape[0]}')

z_scores_fare = stats.zscore(titanic_df['Fare'])
outliers_fare_z = titanic_df[(abs(z_scores_fare) > 3)]
print(f'Number of outliers in Fare using Z-score: {outliers_fare_z.shape[0]}')

# Step 2
titanic_df['Age'] = titanic_df['Age'].apply(lambda x: upper_bound_age if x > upper_bound_age else (lower_bound_age if x < lower_bound_age else x))
titanic_df['Fare'] = titanic_df['Fare'].apply(lambda x: upper_bound_fare if x > upper_bound_fare else (lower_bound_fare if x < lower_bound_fare else x))

print(titanic_df[['Age', 'Fare']].describe())

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

titanic_df = pd.read_csv('C:/Users/Shmuel/Desktop/DI_Bootcamp/Week 8/Day M2/Exercises/Titanic_Dataset.csv')

print("Statistical summary before scaling and normalization:")
print(titanic_df.describe())

titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].median())

titanic_df['Embarked'] = titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

titanic_df['Family Size'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1

titanic_df['Title'] = titanic_df['Name'].str.extract('([A-Za-z]+)\.', expand=False)

titanic_df = pd.get_dummies(titanic_df, columns=['Sex', 'Embarked', 'Title'], drop_first=True)

columns_to_standardize = ['Age', 'Fare']

scaler = StandardScaler()

titanic_df[columns_to_standardize] = scaler.fit_transform(titanic_df[columns_to_standardize])

print("Standardized columns:")
print(titanic_df[columns_to_standardize].head())

columns_to_normalize = ['Family Size']

min_max_scaler = MinMaxScaler()

titanic_df[columns_to_normalize] = min_max_scaler.fit_transform(titanic_df[columns_to_normalize])

print("Normalized columns:")
print(titanic_df[columns_to_normalize].head())

print("Statistical summary after scaling and normalization:")
print(titanic_df.describe())

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

titanic_df = pd.read_csv('C:/Users/Shmuel/Desktop/DI_Bootcamp/Week 8/Day M2/Exercises/Titanic_Dataset.csv')

titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].median())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

categorical_columns = ['Sex', 'Embarked', 'Pclass']
print(f"Categorical columns: {categorical_columns}")

titanic_df = pd.get_dummies(titanic_df, columns=['Sex', 'Embarked'], drop_first=True)

label_encoder = LabelEncoder()
titanic_df['Pclass'] = label_encoder.fit_transform(titanic_df['Pclass'])

print(titanic_df.head())

print("Columns after encoding:")
print(titanic_df.columns)

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

titanic_df = pd.read_csv('C:/Users/Shmuel/Desktop/DI_Bootcamp/Week 8/Day M2/Exercises/Titanic_Dataset.csv')

titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].median())
titanic_df['Embarked'] = titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0])

age_bins = [0, 12, 18, 25, 35, 60, 100]
age_labels = ['Child', 'Teen', 'Young Adult', 'Adult', 'Senior Adult', 'Senior']

titanic_df['Age Group'] = pd.cut(titanic_df['Age'], bins=age_bins, labels=age_labels)

print(titanic_df[['Age', 'Age Group']].head())

titanic_df = pd.get_dummies(titanic_df, columns=['Age Group'], drop_first=True)

print(titanic_df.head())
print("Columns after encoding:")
print(titanic_df.columns)