In [ ]:
import pandas as pd
import sqlite3

In [ ]:
conn = sqlite3.connect('Premier_League_dataset.sql')
master_table = pd.read_sql_query("SELECT * FROM master", conn)
print(master_table.head())
conn.close()

In [ ]:
conn = sqlite3.connect('Premier_League_dataset.sql')
query = "SELECT * FROM Player_Match"
player_match_df = pd.read_sql_query(query, conn)
print(player_match_df.head())
conn.close()

In [ ]:
conn = sqlite3.connect('Premier_League_dataset.sql')
query = """
SELECT batsman, SUM(runs) AS total_runs
FROM Player_Match
GROUP BY batsman
ORDER BY total_runs DESC
"""

batsman_runs_df = pd.read_sql_query(query, conn)
print(batsman_runs_df)
conn.close()

In [ ]:
conn = sqlite3.connect('Premier_League_dataset.sql')
query = """
SELECT batsman,
       SUM(CASE WHEN runs >= 50 AND runs < 100 THEN 1 ELSE 0 END) AS fifties,
       SUM(CASE WHEN runs >= 100 THEN 1 ELSE 0 END) AS hundreds
FROM Player_Match
GROUP BY batsman
ORDER BY batsman
"""

fifties_hundreds_df = pd.read_sql_query(query, conn)
print(fifties_hundreds_df)
conn.close()

In [ ]:
conn = sqlite3.connect('Premier_League_dataset.sql')
query = """
SELECT bowler,
       MIN(runs_given) AS best_runs_given,
       MAX(wickets) AS best_wickets
FROM Player_Match
GROUP BY bowler
ORDER BY best_runs_given
"""

best_bowling_figures_df = pd.read_sql_query(query, conn)
print(best_bowling_figures_df)
conn.close()

In [ ]:
conn = sqlite3.connect('Premier_League_dataset.sql')
query = """
SELECT
    batsman,
    SUM(runs) AS total_runs,
    SUM(CASE WHEN runs >= 50 AND runs < 100 THEN 1 ELSE 0 END) AS fifties,
    SUM(CASE WHEN runs >= 100 THEN 1 ELSE 0 END) AS hundreds,
    bowler,
    MIN(runs_given) AS best_runs_given,
    MAX(wickets) AS best_wickets
FROM
    Player_Match
GROUP BY
    batsman, bowler
ORDER BY
    total_runs DESC, best_runs_given
"""

comprehensive_metrics_df = pd.read_sql_query(query, conn)
print(comprehensive_metrics_df)
conn.close()